# All data files, large
./k-means/**/*.csv
./gmm/**/*.csv
**/*.vot
**/*.fits
**/*.fit

# Other not important stuff
slides/
.ipynb_checkpoints/
.vscode/


# Report folders
./gmm/report22042021

# Experiments

./experiments/*